@-webkit-keyframes bgchange{
	0% { background: black;}
	50% { background: yellow;}
	100% { background: white;}
}

.bgchanging{
	-webkit-animation-name: bgchange;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-direction: normal;
	-webkit-animation-fill-mode: backwards;
}

.right{
	text-align: right;
}

body{
	background: url('../img/crossword.png');
}

mark{
	background-color: yellow;
}

abbr{
	border-bottom: 1px dotted #000;
}

img{
	max-width: 100%;
}

.center{
	text-align: center;
}

.header{
	background: #428bca;
	padding: 0;
	text-align: center;
	height: 0px;
}

	.header h3{
		display: inline;
		vertical-align: middle;
		color: #FFF;
		font-weight: 200;
	}

#scrollToTop{
	color: #555;
	line-height: 30px;
	font-size: 30px;
	padding-right: 5%;
}

h2.title{
	padding: 25px 0;
	font-size: 2em;
}

.syntaxElement{
	padding: 25px;
	border-bottom: #999 1px solid;
	background: rgba(0,0,0,.1);
}

	.syntaxElement pre{
		color: #757575;

	}

h1, h2{
	font-family: "le-havre-rounded",sans-serif;
/* 	font-family: 'Raleway', sans-serif; */
	font-weight: 100;
}

.darkTrans{
	background: rgba(0,0,0,.5);
}


#banner{
	background: #222;
	color: #FFF;
	background: url('../img/creative_blur.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom center;
	box-shadow: inset 0 0 10px rgba(0,0,0,.3);
	position: relative;
}

	#banner h1{
		font-size: 7em;
		margin: 150px auto 0 auto;
		text-align: center;
		text-shadow: 2px 2px 2px rgba(0,0,0,.2);
		line-height: 1em;
	}

	#banner h2{
		margin-top: 0;
		text-align: center;
	}

.responsiveLeft, .responsiveRight, .responsiveTop, .responsiveBottom{
	position: relative;
	max-width: 100%;
}

.signup{
	background: rgba(0,0,0,.6);
	color: #FFF;
	text-align: center;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}

	.signup input{
		border: 3px solid #FFF;
		margin: 10px;
		background: white;
		border-radius: 5px;
		height: 2.2em;
		padding: 2px 10px;
	}

.logo{
	font-family: 'lobster', cursive;
	display: inline;
}

.white{
	color: #fff;
}

#workInProgress{
	color: #FFF;
}

	#workInProgress .close{
		padding: 0 20px;
		cursor: pointer;
	}

div.bottomDiv{
	position: absolute;
	bottom: 20px;
	height: 50px;
	width: 100%;
	text-align: center;
}

a.scrollDown{
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}

a.scrollDown img{
	width: 50px;
	height: 50px;
	opacity: .6;
	transition: opacity .2s;
}

	a.scrollDown:hover img{
		opacity: 1;
		transition: opacity .2s;
	}

.zoom{
	transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
}

.overview{
	text-align: center;
	padding: 0 0 80px;
	color: #FFF;
	position: relative;
	overflow: hidden;

	div.paraBackground{
		position: absolute;
		background: url('../img/dark_wood.jpg');
		background-size: 100% 100%;
		background-position: center center;
		width: 100%;
		height: 100%;
		z-index: -1;
		margin: 0;
		padding: 0;
	}

	h2{
		margin-bottom: 20px;
		font-size: 3em;
		text-shadow: 1px 1px 2px rgba(0,0,0,.2);
	}

	ul{
		padding: 0;
		margin: 0 0 50px;
	}

	ul li{
		list-style: none;
		text-align: center;
		margin: 16% 0 0 0;
	}

	ul li a{
		margin: 0;
		color: #FFF;
		text-decoration: none;
	}

	h3{
		font-weight: 200;
		font-size: 2em;
		font-family: "le-havre-rounded",sans-serif;
	}
}

.about{
	text-align: center;
}

	.about h2{
		font-size: 3em;
		text-align: center;
		margin: 0;
		padding: 40px 0;
	}

#whoAreWe{
/* 	background: url('../img/dark_wood.jpg'); */
	background: rgba(0,0,0,.1);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: left;
}

	.people div{
		background: #111;
		background-size: cover;
		background-position: center center;
		height: 250px;
		padding: 0;
		line-height: 250px;
		font-size: 200px;
		color: rgba(255,255,255,.3);
		font-weight: 800;
		 -moz-transition: color .4s ease-in;
		 /* WebKit */ -webkit-transition: color .4s ease-in;
		 /* Opera */ -o-transition: color .4s ease-in;
		 /* Standard */ transition: color .4s  ease-in;
	}

		.people div:hover{
			cursor: pointer;
		}

		.people div.active{
			color: rgba(255,255,255,1);
			 -moz-transition: color 0s ease-in;
			 /* WebKit */ -webkit-transition: color 0s ease-in;
			 /* Opera */ -o-transition: color 0s ease-in;
			 /* Standard */ transition: color 0s  ease-in;
		}

	#AG{
		background-image: url('../img/AG.jpg');
	}

	#SC{
		background-image: url('../img/SC.jpg');
	}

	#VM{
		background-image: url('../img/VM.jpg');
	}

	.person{
		padding: 20px 0;
	}

		.person .role{
			text-align: center;
			padding: 20px 0;
		}

			/* name */
			.person .role h3{
				font-family: 'lobster', cursive;
				font-weight: 200;
				font-size: 2.8em;
				margin: 0 0 10px;
			}

			/* social */
			.person .role div{
				border-top: #999 1px solid;
				width: 80%;
				margin: 0 auto;
				padding: 15px 0;
				display: inline-block;
				text-align: left;
			}
				.person .role div i{
					margin: 0;
					font-size: 1.4em;
				}
				.person .role div em{
				}

			/* title */
			.person .role h4{
				margin: 0;
				font-weight: 200;
			}

			.aboutPerson{
				padding: 0 25px;
			}

				.aboutPerson p{
				}

		.person:nth-child(n+2){
			display: none;
		}

	.role{
		border-right: 1px #999 solid;
	}

.whatWeDo{
	text-align: center;
}

	.whatWeDo h2{
		font-size: 3em;
		text-align: center;
		margin: 0;
		padding: 40px 0;
	}

	.whatWeDo h3{
		font-size: 2.5em;
		font-weight: 800;
		text-align: left;
		font-family: "azo-sans-uber", sans-serif;
	}

a.button, button.button {
	display: inline-block;
	padding: 10px 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 2px #428bca solid;
	background: #428bca;
	color: #FFF;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	margin: 10px;
	position: relative;
	box-sizing: border-box;
}

	a.button:hover, button.button:hover{
		background: #336ea0;
		border-color: #336ea0;
	}

a.button.transparent{
	background: none;
	border-color: #FFF;
}

	a.button.transparent:hover{
		background: rgba(255,255,255,.3);
	}

nav{
	background: #FFF;
	color: #FFF;
	padding: 20px;
	width: 100%;
/* 	max-width: 1200px; */
	box-sizing: border-box;
	opacity: .9;
	z-index: 1;
}

	#start1{
		margin: 0 25px;
		display: inline-block;
	}

	nav a{
		color: #555;
		text-decoration: none;
	}

	nav .logo{
		display: inline-block;
		margin: 2px 0 0;
		font-size: 1.5em;
		padding-left: 5%;
	}

	nav ul{
		margin: 10px 0 0;
		padding: 0 0 0 20px;
		display: inline-block;
		vertical-align: top;
	}

	nav ul li{
		display: inline-block;
		padding: 0 10px;
	}

	nav ul li:not(:last-child){
		border-right: #666 1px solid;
	}

	nav ul li a:hover{
		text-shadow: 0 0 5px white;
		color: #111;
		-webkit-transition: .5s;
	}

a{
	color: #333;
	text-decoration: none;
}

section{
}

.footer{
	background: #555;
	color: #FFF;
	padding: 20px 0;
	text-align: center;
}

	.footer a{
		color: #FFF;
		text-decoration: none;
	}

.dark{
	background: rgba(0,0,0,.2);
}

#banner h2{
	display: inline-block;
	padding: 0 10px;
}

span.whiteLine{
	border-top: 2px white solid;
	width: 160px;
	display: inline-block;
	height: 5px;
	transition: width .5s ease;
}

a.hamburger{
	display: none;
	color: #555;
	line-height: 30px;
	font-size: 30px;
	padding-right: 5%;
}

@media only screen and (max-width: 768px){

	nav ul{
		display: none;
		padding: 0;
		z-index: 100;
	}

	a.hamburger{
		display: inline-block;
	}

	#scrollToTop{
		display: none !important;
	}

	nav ul li{
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		line-height: 50px;
		font-size: 20px;
		font-weight: 200;
		border-top: 1px solid #666;
		border-right: none !important;
	}

	nav ul li a{
		display: block;
		width: 100%;
	}

	nav ul li a:hover{
		background: rgba(0,0,0,.1);
	}
}

@media only screen and (max-width: 473px){
	span.whiteLine{
		width: 80px;
		transition: width .5s ease;
	}
}